{% extends "base_menu.html" %}

{% load static %}
{% block head %}
<script src="{% static 'js/control.js' %}"></script>
<script src="{% static 'js/actualizar.js' %}"></script>
<script src="{% static 'js/informacionEstadoResultados.js' %}"></script>
{% endblock %} 

  




{% block content %}

<div id="${id}" class="fondo d-flex justify-content-center" tabindex="-1">

  <!-- Barra lateral -->
  <div class="fixed1 front">
    <div id="pasoE1" class="contenido borde1" onclick="mostrarConRango(1,4),mostrarPaso(1)" ><h1 class="borde1">1</h1></div>
    <div id="pasoE2" class="contenido" onclick="mostrarConRango(5,8),mostrarPaso(2)"><h1>2</h1></div>
    <div id="pasoE3" class="contenido" onclick="mostrarConRango(9,12),mostrarPaso(3)"><h1>3</h1></div>
    <div id="pasoE4" class="contenido" onclick="mostrarConRango(13,16),mostrarPaso(4)"><h1>4</h1></div>
    <div id="pasoE5" class="contenido" onclick="mostrarConRango(17,20),mostrarPaso(5)"><h1>5</h1></div>
    <div id="pasoE6" class="contenido" onclick="mostrarConRango(21,23),mostrarPaso(6)"><h1>6</h1></div>
    <div id="pasoE7" class="contenido borde2" onclick="pasoFinal(),mostrarPaso(7)"><h1 class="borde2">7</h1></div>
  </div>
  <!-- Fin Barra lateral -->


  <div id="contenedorActualizar" class="contenedorMensaje dark col-sm-12 col-md-4  d-flex justify-content-center"> 
  

    <div class="close"> <Button onclick="window.location='{% url 'gestion:index' %}'" title="Cerrar">X</Button> </div>

    <div class="row pt-4 pb-4  ml-0 mr-0 pl-0 pr-0 col-md-12 d-flex  justify-content-center rounded ">

      <div class="col-md-12 d-flex justify-content-center">
        <h1>Estado de Resultados</h1>
      </div>
      <form action="{% url 'gestion:crearEstadoResultados' %}" method="POST" class="col-md-12">
        {% csrf_token %}
  
        <div id="p1" class="row col-md-12 mt-1 mb-1 ml-0 mr-0 dflex justify-content-center inputDatos">
          <h5 class="pl-0 pr-0 text-center col-md-5">Ventas</h5>
          <input class="ml-1 mr-1" id="disponible" name="ventas" type="number">
         <a class="ml-1 mr-1 h5" onclick="a1()" href="#" title="Información adicional">?</a>
        </div>

        <div id="p2" class="row col-md-12 mt-1 mb-1 ml-0 mr-0 dflex justify-content-center inputDatos">
          <h5 class="pl-0 pr-0 text-center col-md-5">Devoluciones Ventas</h5>
          <input class="ml-1 mr-1" id="devolucionesVentas" name="devolucionesVentas" type="number">
         <a class="ml-1 mr-1 h5" onclick="a2()" href="#" title="Información adicional">?</a>
        </div>

        <div id="p3" class="row col-md-12 mt-1 mb-1 ml-0 mr-0 dflex justify-content-center inputDatos">
          <h5 class="pl-0 pr-0 text-center col-md-5">Descuentos Ventas</h5>
          <input class="ml-1 mr-1" id="descuentosVentas" name="descuentosVentas" type="number">
         <a class="ml-1 mr-1 h5" onclick="a3()" href="#" title="Información adicional">?</a>
        </div>

        <div id="p4" class="row col-md-12 mt-1 mb-1 ml-0 mr-0 dflex justify-content-center inputDatos">
          <h5 class="pl-0 pr-0 text-center col-md-5"> bonif Reb Ventas</h5>
          <input class="ml-1 mr-1" id="bonifRebVentas" name="bonifRebVentas" type="number">
         <a class="ml-1 mr-1 h5" onclick="a4()" href="#" title="Información adicional">?</a>
        </div>

        <div id="p5" class="row col-md-12 mt-1 mb-1 ml-0 mr-0 dflex justify-content-center inputDatos">
          <h5 class="pl-0 pr-0 text-center col-md-5">Inventario Inicial</h5>
          <input class="ml-1 mr-1" id="inventarioInicial" name="inventarioInicial" type="number">
         <a class="ml-1 mr-1 h5" onclick="a5()" href="#" title="Información adicional">?</a>
        </div>

        <div id="p6" class="row col-md-12 mt-1 mb-1 ml-0 mr-0  dflex justify-content-center inputDatos">
          <h5 class="pl-0 pr-0 text-center col-md-5">compras</h5>
          <input class="ml-1 mr-1" id="compras" name="compras" type="number">
         <a class="ml-1 mr-1 h5" onclick="a6()" href="#" title="Información adicional">?</a>
        </div>

        <div id="p7" class="row col-md-12 mt-1 mb-1 ml-0 mr-0 dflex justify-content-center inputDatos">
          <h5 class="pl-0 pr-0 text-center col-md-5">Fletes Compras</h5>
          <input class="ml-1 mr-1" id="fletesCompras" name="fletesCompras" type="number">
         <a class="ml-1 mr-1 h5" onclick="a7()" href="#" title="Información adicional">?</a>
        </div>

        <div id="p8" class="row col-md-12 mt-1 mb-1 ml-0 mr-0  dflex justify-content-center inputDatos">
          <h5 class="pl-0 pr-0 text-center col-md-5">Gastos Importacion</h5>
          <input class="ml-1 mr-1" id="gastosImportacion" name="gastosImportacion" type="number">
         <a class="ml-1 mr-1 h5" onclick="a8()" href="#" title="Información adicional">?</a>
        </div>

        <div id="p9" class="row col-md-12 mt-1 mb-1 ml-0 mr-0  dflex justify-content-center inputDatos">
          <h5 class="pl-0 pr-0 text-center col-md-5">Devoluciones Compras</h5>
          <input class="ml-1 mr-1" id="devolucionesCompras" name="devolucionesCompras" type="number">
         <a class="ml-1 mr-1 h5" onclick="a9()" href="#" title="Información adicional">?</a>
        </div>

        <div id="p10" class="row col-md-12 mt-1 mb-1 ml-0 mr-0 dflex justify-content-center inputDatos">
          <h5 class="pl-0 pr-0 text-center col-md-5">Descuentos Compras</h5>
          <input class="ml-1 mr-1" id="descuentosCompras" name="descuentosCompras" type="number">
         <a class="ml-1 mr-1 h5" onclick="a10()" href="#" title="Información adicional">?</a>
        </div>

        <div id="p11" class="row col-md-12 mt-1 mb-1 ml-0 mr-0  dflex justify-content-center inputDatos">
          <h5 class="pl-0 pr-0 text-center col-md-5">Bonificacion Compras</h5>
          <input class="ml-1 mr-1" id="bonificacionCompras" name="bonificacionCompras" type="number">
         <a class="ml-1 mr-1 h5" onclick="a11()" href="#" title="Información adicional">?</a>
        </div>

        <div id="p12" class="row col-md-12 mt-1 mb-1 ml-0 mr-0  dflex justify-content-center inputDatos">
          <h5 class="pl-0 pr-0 text-center col-md-5">Inventario Final</h5>
          <input class="ml-1 mr-1" id="inventarioFinal" name="inventarioFinal" type="number">
         <a class="ml-1 mr-1 h5" onclick="a12()" href="#" title="Información adicional">?</a>
        </div>

        <div id="p13" class="row col-md-12 mt-1 mb-1 ml-0 mr-0 dflex justify-content-center inputDatos">
          <h5 class="pl-0 pr-0 text-center col-md-5">Sueldo Vendedores</h5>
          <input class="ml-1 mr-1" id="sueldoVendedores" name="sueldoVendedores" type="number">
         <a class="ml-1 mr-1 h5" onclick="a13()" href="#" title="Información adicional">?</a>
        </div>

        <div id="p14" class="row col-md-12 mt-1 mb-1 ml-0 mr-0 dflex justify-content-center inputDatos">
          <h5 class="pl-0 pr-0 text-center col-md-5">Comision Venta</h5>
          <input class="ml-1 mr-1" id="comisionVenta" name="comisionVenta" type="number">
         <a class="ml-1 mr-1 h5" onclick="a14()" href="#" title="Información adicional">?</a>
        </div>

        <div id="p15" class="row col-md-12 mt-1 mb-1 ml-0 mr-0  dflex justify-content-center inputDatos">
          <h5 class="pl-0 pr-0 text-center col-md-5">Propaganda</h5>
          <input class="ml-1 mr-1" id="propaganda" name="propaganda" type="number">
         <a class="ml-1 mr-1 h5" onclick="a15()" href="#" title="Información adicional">?</a>
        </div>

        <div id="p16" class="row col-md-12 mt-1 mb-1 ml-0 mr-0  dflex justify-content-center inputDatos">
          <h5 class="pl-0 pr-0 text-center col-md-5">Impuestos Municipales</h5>
          <input class="ml-1 mr-1" id="impuestosMunicipales" name="impuestosMunicipales" type="number">
         <a class="ml-1 mr-1 h5" onclick="a16()" href="#" title="Información adicional">?</a>
        </div>

        <div id="p17" class="row col-md-12 mt-1 mb-1 ml-0 mr-0  dflex justify-content-center inputDatos">
          <h5 class="pl-0 pr-0 text-center col-md-5">gastos Alquiler</h5>
          <input class="ml-1 mr-1" id="gastosAlquiler" name="gastosAlquiler" type="number">
         <a class="ml-1 mr-1 h5" onclick="a17()" href="#" title="Información adicional">?</a>
        </div>

        <div id="p18" class="row col-md-12 mt-1 mb-1 ml-0 mr-0  dflex justify-content-center inputDatos">
          <h5 class="pl-0 pr-0 text-center col-md-5">gastosGenerales</h5>
          <input class="ml-1 mr-1" id="gastosGenerales" name="gastosGenerales" type="number">
         <a class="ml-1 mr-1 h5" onclick="a18()" href="#" title="Información adicional">?</a>
        </div>

        <div id="p19" class="row col-md-12 mt-1 mb-1 ml-0 mr-0  dflex justify-content-center inputDatos">
          <h5 class="pl-0 pr-0 text-center col-md-5">Sueldo Administracion</h5>
          <input class="ml-1 mr-1" id="sueldoAdministracion" name="sueldoAdministracion" type="number">
         <a class="ml-1 mr-1 h5" onclick="a19()" href="#" title="Información adicional">?</a>
        </div>

        <div id="p20" class="row col-md-12 mt-1 mb-1 ml-0 mr-0 dflex justify-content-center inputDatos">
          <h5 class="pl-0 pr-0 text-center col-md-5">Perdidas CuentasMalas</h5>
          <input class="ml-1 mr-1" id="perdidasCuentasMalas" name="perdidasCuentasMalas" type="number">
         <a class="ml-1 mr-1 h5" onclick="a20()" href="#" title="Información adicional">?</a>
        </div>

        <div id="p21" class="row col-md-12 mt-1 mb-1 ml-0 mr-0 dflex justify-content-center inputDatos">
          <h5 class="pl-0 pr-0 text-center col-md-5">Alquileres Ganados</h5>
          <input class="ml-1 mr-1 col-md-6" id="alquileresGanados" name="alquileresGanados" type="number">
         <a class="ml-1 mr-1 h5" onclick="a21()" href="#" title="Información adicional">?</a>
        </div>

        <div id="p22" class="row col-md-12 mt-1 mb-1 ml-0 mr-0 dflex justify-content-center inputDatos">
          <h5 class="pl-0 pr-0 text-center col-md-5">Intereses Ganados</h5>
          <input class="ml-1 mr-1 col-md-6" id="interesesGanados" name="interesesGanados" type="number">
         <a class="ml-1 mr-1 h5" onclick="a22()" href="#" title="Información adicional">?</a>
        </div>

        <div id="p23" class="row col-md-12 mt-1 mb-1 ml-0 mr-0 dflex justify-content-center inputDatos">
          <h5 class="pl-0 pr-0 text-center col-md-5">Comisiones Ganadas</h5>
          <input class="ml-1 mr-1 col-md-6" id="comisionesGanadas" name="comisionesGanadas" type="number">
         <a class="ml-1 mr-1 h5" onclick="a23()" href="#" title="Información adicional">?</a>
        </div>

        <div id="p24" class="row col-md-12 mt-1 mb-1 ml-0 mr-0 dflex justify-content-center inputDatos">
          <h5 class="pl-0 pr-0 text-center col-md-5">Intereses Gastos</h5>
          <input class="ml-1 mr-1 col-md-6" id="interesesGastos" name="interesesGastos" type="number">
         <a class="ml-1 mr-1 h5" onclick="a24()" href="#" title="Información adicional">?</a>
        </div>

        <div id="p25" class="row col-md-12 mt-1 mb-1 ml-0 mr-0 dflex justify-content-center inputDatos">
          <h5 class="pl-0 pr-0 text-center col-md-5">Perdidas en Ventas</h5>
          <input class="ml-1 mr-1 col-md-6" id="perdidasVentas" name="perdidasVentas" type="number">
         <a class="ml-1 mr-1 h5" onclick="a25()" href="#" title="Información adicional">?</a>
        </div>

        <div id="p26" class="row col-md-12 mt-1 mb-1 ml-0 mr-0 dflex justify-content-center inputDatos">
          <h5 class="pl-0 pr-0 text-center col-md-5">Perdida En RoboMercancia</h5>
          <input class="ml-1 mr-1 col-md-6" id="perdidaEnRoboMercancia" name="perdidaEnRoboMercancia" type="number">
         <a class="ml-1 mr-1 h5" onclick="a26()" href="#" title="Información adicional">?</a>
        </div>

        <div id="p27" class="row col-md-12 mt-1 mb-1 ml-0 mr-0 dflex justify-content-center inputDatos">
          <h5 class="pl-0 pr-0 text-center col-md-5">fecha Estado Resultados</h5>
          <input class="ml-1 mr-1 col-md-6" id="fechaCreacion" name="fechaCreacion" type="date">
         <a class="ml-1 mr-1 h5" href="#" title="Información adicional">?</a>
        </div>
  
        <div id="btnGuardarBalance" class="row col-md-12 mt-3 mb-3 ml-0 mr-0 esconder justify-content-center inputDatos">
         <button type="submit" class="col-md-12 btn colorSave boton" >Guardar</button>
        </div>
      </form>
  </div>
</div>
</div>
<script src="{% static 'js/controlEstadoResultados.js' %}"></script>
{% endblock %}
{% block textopie %}{% endblock %}
